@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #FFFFFF;
    background: #FD6E0A;
    padding: 18px 36px;
    border: 0;
    border-radius: 5px;
}

/* header-area */
.header-section {
    background: #FFF8F3;
    padding: 50px 210px 0px;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    font-family: Open Sans;
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    color: #181818;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 45px;
}

nav ul li a {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    text-transform: capitalize;
}

/* banner-section */
.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-section .content h3 {
    font-size: 45px;
    font-weight: 600;
    line-height: 61px;
    margin-bottom: 5px;
}

.banner-section .content h1 {
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    margin-bottom: 20px;
}

.banner-section .content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 33px;
    max-width: 565px;
}

.banner-section button a i {
    margin-right: 8px;
}

.content .em-btn {
    font-size: 20px;
    font-weight: 700;
    color: #FD6E0A;
    padding: 16px 24px;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
}

/* about-me-section */
main {
    margin: 0px 210px;
}

.about-me {
    max-width: 1140px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
}

.about-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 30px;
    color: #181818;
}

.about-content p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
    color: #757575;
}

.about-info {
    display: flex;
    justify-content: space-around;
}

.about-info p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #474747;
}

/* What-i-do-section */
.what-ido {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
}

.title-heading {
    text-align: center;
}

.title-heading h3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}

.title-heading p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* exparting-area */
.exparting-point {
    display: flex;
}

.exparting-point .expart {
    padding: 30px 33px 30px 30px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin: 0px 12px;
}

.expart img {
    margin-bottom: 20px;
}

.expart .heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #181818;
    margin-bottom: 20px;
}

.expart p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}
/* resume-section */